.sample{
  color: aqua;
  background-color: black;
}

.list-test{
  color: aqua;
  background-color: black;
}

h3{
  color: aquamarine;
}

img{
  width: 300px;
  height: 200px;
}

#sky,
#sky2{
  display: none;
}